{% extends "base.html" %}
{% block content %}
<p>
  Welcome to Toco.
</p>
{% if message %}
<p>
  {{ message }}
</p>
{% endif %}

{% if user.email %}

<p>User: {{user.email}}</p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Session start</th>
        <th>Session end</th>
        <th>User agent</th>
        <th>IP</th>
	<th>Your session?</th>
      </tr>
    </thead>
    <tbody>
      {% for sess in sessions %}
      <tr>
        <td>{{ sess.pretty_created }}</td>
        <td>{{ sess.pretty_expiry }}</td>
        <td>{{ sess.HTTP_USER_AGENT }}</td>
        <td>{{ sess.REMOTE_ADDR }}</td>
	<td>{% if sess.id == session.id %} YES {% else %} NO {% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
<form method="post" action="{% url 'logout' %}" id="logout">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}" form="logout"/>
  {% endif %}
  <input type="hidden" name="from" value="/" form="logout"/>
  <button type="submit">Logout</button>
</form>

<form method="post" action="{% url 'logout_everywhere' %}" id="logout_everywhere">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}" form="logout_everywhere"/>
  {% endif %}
  <input type="hidden" name="from" value="/" form="logout_everywhere"/>
  <button type="submit">End ALL sessions (including on other computers)</button>
</form>

{% elif password_reset_request_id %}

FOO!

{% else %}

<form action="{% url 'register' %}" method="post" id="register">
  {% csrf_token %}
  <label>email:</label><input type="text" name="email" form="register" required autofocus>
  <label>password:</label><input type="password" name="password" form="register" required>
  <label>password (again):</label><input type="password" name="confirm_password" form="register" required>
  <input type="hidden" name="from" value="/"/>
  <button type="submit" >Register</button>
</form>

<form method="post" action="{% url 'login' %}" id="login">
  {% csrf_token %}
  <label>email:</label><input type="text" name="email" form="login" required autofocus>
  <label>password:</label><input type="password" name="password" form="login" required>
  <input type="hidden" name="from" value="/"/>
  <button type="submit">Login</button>
</form>

<form method="post" action="{% url 'request_password_reset' %}" id="request_password_reset">
  {% csrf_token %}
  <label>email:</label><input type="text" name="email" form="request_password_reset" required autofocus>
  <input type="hidden" name="from" value="/"/>
  <button type="submit">Request password reset</button>
</form>

{% endif %}
{% endblock %}
